<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeqIF1189LnkyBfMdtZ3s008kchW-gXSI</string>
	<key>GCM_SENDER_ID</key>
	<string>840039984081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>felipe.RxFoursys.app</string>
	<key>PROJECT_ID</key>
	<string>rxfoursys</string>
	<key>STORAGE_BUCKET</key>
	<string>rxfoursys.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840039984081:ios:483c88a3e213228f458ef0</string>
</dict>
</plist>